<!DOCTYPE html>
<html data-version="1.64">
<head>
	<meta charset="utf-8">
	<title>Vimium++ Vomnibar</title>
	<script defer src="vomnibar.js"></script>
	<link rel="stylesheet" href="omnibar.css" type="text/css" charset="utf-8">
</head>
<body>
<div id="bar">
	<input type="text" autofocus id="input" />
	<span role="button" id="close">&#215;</span>
</div>
<div id="list">
	<script type="text/x-template" id="template">
	<div class="item">
		<div class="top">
			<svg class="icon{{favIcon}}" viewBox="0 0 64 64">
				<path class="{{type}}" /><text y="56">{{Ty}}</text>
			</svg><span class="title">{{title}}</span>{{index}}
		</div>
		<div class="bottom">
			<a class="url">{{textSplit}}</a>{{relevancy}}
		</div>
	</div></script>
</div>
</body>
</html>
