body {
  border-radius: 0 0 0px 0px;
  box-shadow: 0 2px 10px 0.5px rgba(0, 0, 0, 0.8);
  contain: content;
  margin: 9px 12px 10px;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-decoration-skip-ink: none;
}
.transparent {
  opacity: 1;
}
#bar {
  background: #232323;
  border-bottom: 2px #e2e2e2;
  border-radius: 0px 0px 0 0;
  contain: strict;
  font-size: 0;
  height: 34px;
  padding: 10px;
}
#bar.empty {
  border-radius: 0px;
  border: #343434;
}
/* #close { */
/*   border-radius: 0 0 0px 0px; */
/*   color: gray; */
/*   contain: strict; */
/*   cursor: default; */
/*   font: bold 21px/19px Consolas, "Courier New", monospace; */
/*   height: 20px; */
/*   opacity: 0; */
/*   position: absolute; */
/*   right: 17px; */
/*   text-align: center; */
/*   top: 17px; */
/*   -webkit-user-select: none; */
/*   user-select: none; */
/*   width: 20px; */
/* } */
#close:hover {
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}
#input {
  background: #121212;
  border: 7px #e8e8e8;
  border-radius: 0px;
  border-color: #343434;
  box-shadow: #444 0 0 1px;
  box-sizing: border-box;
  color: #e2e2e2;
  contain: strict;
  font-size: 20px;
  height: 34px;
  outline: none;
  padding: 4px 9.5px;
  width: 100%;
}
#list {
  background: #121212;
  border-radius: 0 0 0px 0px;
  contain: content;
  white-space: nowrap;
}
.item {
  border-bottom: 0px solid #252525;
  box-sizing: border-box;
  contain: strict;
  height: 44px;
  padding: 4px 20px 0;
}
.b {
  border-bottom-style: none;
  border-radius: 0 0 0px 0px;
  height: 46px;
}
.item:hover {
  background-color: #232323;
}
.item.s {
  background-color: #232323;
}
.top {
  height: 20px;
  overflow: hidden;
  font: 16px/20px "Helvetica Neue", Helvetica, Arial, "PingFang SC","Hiragino Sans GB", "Microsoft YaHei", "Heiti SC", "WenQuanYi Micro Hei",
    sans-serif;
  color: #e2e2e2;
}
.icon {
  background: 20px 0/16px no-repeat;
  fill: #999;
  height: 16px;
  margin: 1.5px 4px 0 0;
  padding-right: 20px;
  width: 16px;
  vertical-align: top;
}
text {
  font-size: 64px;
  color: #bdff1f;
}
.no-favicon .icon {
  padding-right: 0;
}
.index {
  color: #bdff1f;
  font-size: 14px;
}
.bottom {
  font: 14px/18px Consolas, "Liberation Mono", "Courier New", monospace;
  height: 18px;
  margin-left: 20px;
  overflow: hidden;
}
.url {
  color: #888888;
  cursor: text;
  text-decoration: none;
}
match {
  color: #e2e2e2;
  font-weight: bold;
}
.title > match {
  text-decoration: underline;
}
.tab {
  d: path(
    "M0,20V60h48V20zM4,24h40v32H4zM8,12h48v40h-8v-4h4V16H12v4H8zM16,4h48v40h-8v-4h4V8H20v4H16z"
  );
}
.math {
  d: path(
    "M0,0H64V64H0zM4,4V60H60V4zM8,8H56V24H8zM12,12V20H52V12zM8,28h12v12H8zM12,32v4h4V32zM24,28h12v12H24zM28,32v4h4V32zM8,44h12v12H8zM12,48v4h4V48zM24,44h12v12H24zM28,48v4h4V48zM40,28h16v28H40zM44,32v20h8V32z"
  );
}
.bookm {
  d: path("M32,0l8,20l24,2L44,36l6,26L32,48L12,62L20,36L0,22L24,20");
}
.search {
  d: path(
    "M46,41h-3l-1-1a24,24 1 1 0 -2,2l1.1,1.1v3L59,64l5,-5zM36,37a18,18 0 1 1 1,-1"
  );
}
.domain {
  d: path(
    "M4,16v4h4l12,36h4L32,32l8,24h4L56,20h4v-4H48v4h2L42,48L34,24h-4l-8,24L14,20h4v-4"
  );
}
.history {
  d: path(
    "M8,10.8A32,32 0 1 1 0,32H6A26,26 1 1 0 12.25,15L20,23H0V3zM28,18v21l15,8l4-5L34,35V18"
  );
}
