/* {{{ */
* {
	box-sizing: border-box;
}
/* }}} */
body {
	/* background: black; */
	/* color: black; */
	margin:auto;
	/* width: 50%; */
}
/* {{{ */
.grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 100%;
}
.crop {
	width: auto;
}
/* }}} */
